{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<p>{{ tickets }} </p>#}
{##}
{#</body>#}
{#</html>#}

{# tutorial/templates/tutorial/people.html #}
{# tutorial/templates/tutorial/people.html #}
{#{% load render_table from django_tables2 %}#}
{#<!doctype html>#}
{#<html>#}
{#    <head>#}
{#        <title>List of persons</title>#}
{#        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />#}
{#    </head>#}
{#    <body>#}
{#        {% render_table table %}#}
{#    </body>#}
{#</html>#}

{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
<!doctype html>
<html>
<style>
  #searchpagesearchbar{
    height: 40px;
    border-radius: 20px;
    width: 150%;
      line-height: 40px;
      margin-top: 5%;

}
    input, select, textarea {
    font-size: 150%;
    font-weight: 100;
    padding-left: 10%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
    .example-card {
    max-width: 400px;
    margin-bottom: 8px;
    border: 10px;
  }

</style>
<head>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>django_tables2 with bootstrap 4 template example</title>
    {% bootstrap_css %}

</head>
<body>
    <div class="container-fluid">
        {% block body %}
        <div class="row">
            <h1> All tickets</h1>

        <div class="col-sm-8" >
            <div class="container">
                <div class="row">
                    <form autocomplete="off" aria-multiselectable="true" method="POST" action="/ticket/search">
{% csrf_token %}
                        <input id="searchpagesearchbar" placeholder="Search by Ticket ID.." name="id" >
                    </form>
                </div>
            </div>
        </div>
        </div>


        <div class="row">
            {% if filter %}
                <div class="col-sm-12">
                    <form action="" method="get" class="form form-inline">
                        {% bootstrap_form filter.form layout='inline' %}
                        {% bootstrap_button 'filter' %}
                    </form>
                </div>
            {% endif %}
            <div class="col-sm-12">
                {% render_table table %}
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>